:root {
    --bg: #eeede1;
    --text: #212c5f;
    --card-bg: #c5d5da;
    --primary: #235b74;
}

[data-theme="dark"] {
    --bg: #2f2d38;
    --text: #d9cbec;
    --card-bg: #06060c;
    --primary: #9692ad;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: .3s;
}

.header {
    padding: 20px;
    text-align: center;
}

.search-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
    
    @media (max-width: 480px) {
        flex-direction: column;

    }
}

.search-section input {
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 40px;

    @media (max-width: 768px) {
        width: 80%;
    margin: auto;

    }

   
}

.search-section button {
    width: 20%;
    font-size: 30px;
    padding: 10px 18px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;

    @media (max-width: 768px) {
    width: 50%;
    margin: auto;
    }
}

.search-section button:hover {
    opacity: .8;
}

.cards-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
    gap: 25px;
}

.card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.loading, .error {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.hidden {
    display: none;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input { display: none; }

.slider {
    position: absolute;
    background-color: #ccc;
    border-radius: 34px;
    top: 0; left: 0;
    right: 0; bottom: 0;
    cursor: pointer;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 18px; height: 18px;
    left: 3px; bottom: 3px;
    background: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider {
    background: var(--primary);
}

input:checked + .slider:before {
    transform: translateX(24px);
}
